<p id="notice"><%= notice %></p>

<h2>Name : <%= @park.name %></h2>
<p>Address: <%= @park.address %></p>
<p>Slug: <%= @park.slug %></p>
<p>City: <%= @park.city %></p>
<p>Available:  <%= @park.available %></p>
<p>Has camera: <%= @park.has_camera %></p>
<p>Has watchman: <%= @park.has_watchman %></p>
<p>Zip code: <%= @park.zip_code %></p>
<p>District: <%= @park.district %></p>
<p>Price month: <%= @park.price_month %></p>
<img src=<%= @park.main_picture %> class="img-responsive" alt="Cinque Terre" width="304" height="236">



<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
